In [1]:
import numpy as np
import pandas as pd

In [2]:
train=pd.read_csv('Train.csv')

In [3]:
train.head()

   feature_1  feature_2  feature_3  feature_4  feature_5     target
0   0.293416  -0.945599  -0.421105   0.406816   0.525662 -82.154667
1  -0.836084  -0.189228  -0.776403  -1.053831   0.597997 -48.897960
2   0.236425   0.132836  -0.147723   0.699854  -0.187364  77.270371
3   0.175312   0.143194  -0.581111  -0.122107  -1.292168  -2.988581
4  -1.693011   0.542712  -2.798729  -0.686723   1.244077 -37.596722

In [4]:
y=train.target
x=train.drop('target',axis=1)

In [5]:
print(x.shape,y.shape)

(1600, 5) (1600,)

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

In [8]:
print(xtrain.shape,ytrain.shape,xtest.shape,ytest.shape)

(1280, 5) (1280,) (320, 5) (320,)

In [9]:
from sklearn.linear_model import LinearRegression

In [10]:
lr=LinearRegression()

In [11]:
lr.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
training_score=lr.score(xtrain,ytrain)

In [13]:
test_score=lr.score(xtest,ytest)

In [14]:
print('Training_score is {0} \nValidation score is {1}'.format(training_score,test_score))

Training_score is 0.9656965495020904
Validation score is 0.9675382704527694

In [15]:
test=pd.read_csv('Test.csv')

In [16]:
test.head()

   feature_1  feature_2  feature_3  feature_4  feature_5
0   1.015254   2.076209  -0.266435  -2.418088  -0.980503
1  -0.375021   0.953185   0.626719   0.704406  -0.355489
2  -1.024452   0.962991  -0.407942  -1.861274   0.455201
3  -2.489841   0.544802   0.601219  -0.607021  -1.314286
4  -0.384675  -0.833624   1.358552  -0.547932   0.411925

In [17]:

test.shape

(400, 5)

In [18]:
pred=lr.predict(test)

In [19]:

pred.shape

(400,)

In [20]:
submit=pd.DataFrame({'target':pred})
submit.to_csv('sklearnpred.csv',index=False)

In [21]:
submit.head()

       target
0  113.427569
1  118.381740
2  -21.832220
3  -43.437330
4  -95.332069